body {
  background-color: rgb(98, 98, 230);
  color: azure;
  font-family: "poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88px;
  background-color: rgb(91, 91, 205);
}

navbar ul {
  display: flex;
  justify-content: center;
  cursor: none;
}
navbar ul li {
  list-style: none;
  margin: 0 23px;
}
navbar ul li a {
  text-decoration: none;
  color: white;
}
navbar ul li a:hover {
  text-decoration: none;
  color: lavender;
  font-size: 1.04rem;
}

main hr {
  border: 0;
  background-color: rgb(33, 33, 213);
  height: 1.2px;
  margin: 20px 29px;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}
.firstSection > div {
  width: 30%;
}

.leftSection {
  width: 50%;
  font-size: 2.5rem;
}
.leftSection .button {
  padding: 23px;
}
.leftSection .btn {
  padding: 12px;
  background-color: rgb(123, 123, 231);
  border: 2px solid white;
  border-radius: 3px;
  font-size: 20px;
}
.rightSection {
  width: 80%;
}
.rightSection img {
  width: 100%;
  margin: 40px 0;
}

.text-plum {
  color: plum;
  font-style: oblique;
}
.text-gray {
  color: rgb(60, 16, 16);
}

#element {
  color: plum;
  font-style: oblique;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1rem;
}
.secondSection .box {
  background-color: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

footer {
  background-color: rgb(91, 91, 205);
  justify-content: space-evenly;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}

.footer-rights {
  text-align: center;
  color: antiquewhite;
  padding: 12px;
}
